
<main style="margin-top:50px;">
 
  <body>
      <div class="col-xl-8 margin-top">
          <div class="card shadow card shadow-lg p-3 mb-5 bg-white rounded" style="width: 50rem; margin-left: 200px;">
              <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                      <div class="col">
                          <h6 class="text-uppercase text-muted ls-1 mb-1">Modifier Utilisateur</h6>
                      </div>
                  </div>
              </div>
  
              <div class="card-body margin-top">
                  <div class="container pt-2">
                      <form #f1="ngForm">
                          <div class="input-container">
                              <div class="form-group">
                                  <label><b>Id Utilisateur</b></label>
                                  <input type="number" class="form-control" name="idUser" #Iu="ngModel" required [(ngModel)]="user.idUser" disabled>
                              </div>
  
                              <div class="form-group">
                                  <label><b>Nom Utilisateur</b></label>
                                  <input type="text" class="form-control" name="lastName" #ln="ngModel" required [(ngModel)]="user.lastName">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Prénom utilisateur</b></label>
                                  <input type="text" class="form-control" name="firstName" #ln="ngModel" required [(ngModel)]="user.firstName">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Username</b></label>
                                  <input type="text" class="form-control" name="username" #us="ngModel" required [(ngModel)]="user.username">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Password</b></label>
                                  <input type="password" class="form-control" name="password" #pwd="ngModel" required [(ngModel)]="user.password">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Phone Number</b></label>
                                  <input type="number" class="form-control" name="phoneNumber" #pn="ngModel" required [(ngModel)]="user.phoneNumber">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Email</b></label>
                                  <input type="email" class="form-control" name="email" #eml="ngModel" required [(ngModel)]="user.email" placeholder="your email">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Date Naissance</b></label>
                                  <input type="date" class="form-control datepicker" name="dateNaissance" #dn="ngModel" required [(ngModel)]="user.dateNaissance" placeholder="Date Naissance">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Date Inscription</b></label>
                                  <input type="date" class="form-control datepicker" name="dateInscription" #di="ngModel" required [(ngModel)]="user.dateInscription" placeholder="Date Inscription">
                              </div>
  
                              <div class="form-group">
                                  <label><b>Role</b></label>
                                  <select class="form-select"  #rl="ngModel" required [(ngModel)]="roleid" name="role" (change)="getRole()">
                                    <option [value]="roleid">{{roleNom}}</option>
                                    <option *ngFor="let role of roles" [value]="role.idRole">{{ role.roleName }}</option>
                                
                                  </select>
                              </div>




                          </div>
  
                          <div class="text-center">
                              <button type="button" class="success-button" (click)="update(f1.value)">Confirmer</button>
                              <button type="button" class="cancel-button" (click)="cancelUpdate()">Annuler</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </body>
  
  
    
  
</main>
