body {
    background-color: #7dd2eb;
    
  }
  @media (min-width: 1000px) {
    main {
      padding-left: 10px;
    }
  }
  
  
  
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination .page-item {
    margin: 0 5px;
  }
  
  .pagination .page-link {
    color: #000;
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .pagination .page-link:hover {
    background-color: #f4f4f4;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination .page-item.disabled .page-link {
    opacity: 0.5;
    pointer-events: none;
  }
  .custom-th {
    color: firebrick;/* Change the color to your preferred color */
  }


  body {
    background-color: #7dd2eb;
    
  }
  @media (min-width: 1000px) {
    main {
      padding-left: 10px;
    }
  }
  
  
  
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination .page-item {
    margin: 0 5px;
  }
  
  .pagination .page-link {
    color: #000;
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .pagination .page-link:hover {
    background-color: #f4f4f4;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination .page-item.disabled .page-link {
    opacity: 0.5;
    pointer-events: none;
  }
  .custom-th {
    color: firebrick;/* Change the color to your preferred color */
  }


  /* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  font-weight: bold;
}

input[type="date"] {
  width: calc(100% - 10px); /* Adjust for padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  background-color: #0d9191;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1baebb;
}
